<input 
  type="number" 
  [ngModel]="value()" 
  (ngModelChange)="onModelChange($event)"
  (blur)="blur.emit()"
  [disabled]="disabled()"
  min="0"
  placeholder="-"
  class="w-14 h-12 sm:w-12 sm:h-11 bg-[#1C1D24] border border-[#2A2B36] rounded-[4px] text-center font-black text-white text-lg sm:text-base font-display focus:border-[#E8001D] focus:outline-none transition-all duration-80 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none disabled:bg-[#14151A] disabled:border-[#2A2B36] disabled:text-slate-500 select-all"
/>
