<div class="flex items-center justify-between hover:bg-[#22232D] rounded-none flex items-center py-2 px-1">
  <div (click)="profileRequested.emit()"
    class="flex items-center gap-3 overflow-hidden cursor-pointer hover:opacity-85 active:scale-95 transition-all select-none">
    @if (user()?.avatar_url) {
    <img [src]="user()?.avatar_url" alt="Avatar"
      class="w-9 h-9 rounded-full object-cover border border-[#2A2B36] shrink-0 shadow-sm" />
    } @else {
    <div
      class="w-9 h-9 rounded-full bg-[#E8001D] text-white flex items-center justify-center font-bold border border-[#2A2B36] shrink-0 shadow-sm font-ui">
      {{ user()?.name?.charAt(0)?.toUpperCase() }}
    </div>
    }
    <div class="flex flex-col text-left overflow-hidden">
      <span class="text-xs font-bold text-white truncate font-body">{{ user()?.name }}</span>
    </div>
  </div>

  <!-- Logout Button Icon (3px rounded) -->
  <button (click)="onLogout()" title="Sair"
    class="p-2 hover:bg-[#1A0005] hover:text-[#E8001D] text-slate-400 rounded-[3px] cursor-pointer transition-colors duration-80 border-none bg-transparent">
    <svg lucideLogOut class="w-4 h-4"></svg>
  </button>
</div>